@import url(../common/colors/palete.scss);

.alternative {
    display: flex;
    justify-content: space-between;
}

.textBox {
    // font-size: 1em;
    width: 100%;
    height: 24px;
    overflow-y: hidden;
    resize: none;
    background-color: var(--gray002);
    border: none;
    padding: 0.3em;
    border-radius: 1em;
    
}

.textBox:focus {
    
    outline: none;

}
