.questionList {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.addQuestion {
    height: 20px;
    width: auto;
    background-image: url(./../../assets/img/add-to-queue-svgrepo-com.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;
    border: dotted 1px var(--gray003);
    padding: 0.5em;
    border-radius: 0.2em;
}